 .navbar__container{
   
    
    display: flex;
    justify-content: center;
    
 }
.navbar{
   font-family: 'Fredoka', sans-serif;
   
   font-size: 15px;
   background-color:#FFFFFFE5  ;
   
}
.navbar__item{
display: flex;
justify-content: space-around;
gap: 10px;
}



.logoimg{
   width: 150px;
   height: 49px;
}


.navlist__text{
   display: flex;
   align-items: center;
   margin-left: 20px; 
   gap: 5px;
}
.navlist__contact{
   display: flex;
   align-items: center;
   margin-left: 20px;
   margin-right: 40px;
   gap: 5px;
}


.logo{
 display: flex;  
 align-items: center;
 margin-right: 43px;
}
.contact__btn{
   background-color:#FF9500 ;
   height: 59px;
   width: 130px;
   border-radius: 60px;
   border: none;
   cursor: pointer;
}

.navlist__icon{
   display: flex;
   align-items: center;
   gap: 20px;
   margin-left: 90px;
}

.human{
width: 20px;
}

.search{
   width: 30px;
}