
.aboutus__item{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.secondtext{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F5;
    border-radius: 5px;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    gap: 10px;
}
.secondcontainer{
    display: flex;
    align-items: center;
    background-color: #F3F5F5;
    border-radius: 5px;
    margin-top: 15px;
    height: 40px;
    width: 240px;
    text-align: center;
    justify-content: center;
    gap: 10px;
}




