 .welcome {
    height: 500px;
    background-color: #FFF8F0;
 }




 .main {
    max-width: 1500px;
    width: 1350px;
    height: 100vh;

 }

 .browse__btn {
    background-color: #FF9500;
    border-radius: 60px;
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
    color: white;
 }

 .ANCHOR {
    color: #0E2A46;
 }

 .video__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-color: #00BEAE;
 }

 .textvideo {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .video {
    width: 10px;
    height: 10px;
 }

 .welcome__item {
    display: flex;
    justify-content: center;


 }

 .welcome__text {

    padding-top: 120px;
 }

 .boy__wrrapper {
    position: relative;
 }

 .boybackground__container {
    display: flex;
    justify-content: center;
 }

 .boybackground {
    width: 200px;
 }



 .boyholding {
    width: 200px;
    position: absolute;
    top: -13%;
    right: 0px;
    bottom: 20px;

 }

 .x__icon {
    position: absolute;
    top: 90px;
    left: -60px;
    width: 15px;

 }

 .shine__icon {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 25px;

 }

 .birds {
    width: 200px;
    position: absolute;
 }

 .success {
    width: 140px;
    margin-top: 60px;
    margin-left: 30px;
 }

 .girl__wrapper {
    position: absolute;
    top: 0;
    left: 200px;
 }

 .girlbackground__container {
    position: relative;
 }

 .girlbackground {
    width: 190px;
 }

 .girlholding {
    width: 250px;
    position: absolute;
    top: -75px;
    right: -30px;
 }

 .student {
    width: 170px;
    position: absolute;
    left: -190px;
    bottom: 50px;
 }

 .rough {
    margin-left: 350px;
    margin-top: 40px;
    width: 60px;
 }


 .Gbackground {
    position: absolute;
    top: 270px;
 }

 .Bbackground {
    position: relative;

 }

 .landingitem {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 0;
    margin-top: 50px;
    background-color: white;
 }

 .course__text {
    width: 270px;
    border-radius: 40px;
    background-color: #F3F5F5;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

 }

 .course__text:hover {
    background-color: #00BEAE;
 }


 .expert__text {
    width: 300px;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F3F5F5;

 }

 .expert__text:hover {
    background-color: #00BEAE;
 }


 .location__text {
    width: 300px;
    border-radius: 40px;
    background-color: #F3F5F5;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

 }

 .location__text:hover {
    background-color: #00BEAE;
 }

 .abc {
    width: 60px;
    margin: 0;
    padding: 0;

 }

 .people {
    width: 60px;
 }

 .house {
    width: 60px;
 }




 .happy {
    width: 210px;
    position: absolute;
    top: 100px;
    left: 50px;
 }

 .smillingboy {
    width: 150px;
 }

 .girlwithglass {
    width: 190px;
 }

 .about__text {
    width: 500px;
    padding-top: 50px;

 }

 .aboutbird {
    position: absolute;
    right: 10px;
    width: 200px;
    height: 100px;
 }

 .aboutrough {
    position: absolute;
    top: 110px;
    left: -120px;
    width: 60px;
 }


 .book {
    width: 10px;
    line-height: 0;
 }

 .booktext {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: black;
    height: 0;

 }

 .aboutmes {
    height: 0;
    padding-bottom: 50px;
 }

 .aboutmes2 {
    height: 0;
    padding-bottom: 55px;
 }

 .dot {
    position: absolute;
    top: 20px;
 }

 .background {
    background-image: url($background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }

 .about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


 }

 .img__container {
    display: flex;
    align-items: end;
    position: relative;
    gap: 20px;

 }

 .teacher__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;

 }

 .div {
    display: block;
    text-align: center;
    line-height: 0;
    padding-right: 70px;
 }

 .div2 {
    border-right: 1px dashed #0E2A46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    text-align: center;
    padding-left: 30px;
 }

 .divlast {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding-left: 30px;
 }

 .teacher {
    width: 70px;
    height: 70px;
 }

 .totalstudent {
    width: 70px;
    height: 70px;
 }


 .classroom {
    width: 70px;
    height: 70px;
 }

 .award {
    width: 70px;
    height: 70px;
 }


 .event {
    margin-top: 10px;
    font-size: small;
    background-color: #00BEAE;
    height: 40px;
 }

 .totalteacher__item {
    line-height: 0px;
 }

 .uuu {
    display: flex;
    align-items: center;
    width: 170px;
    height: 30px;
    gap: 3px;
 }


 .approach__text {
    display: block;
    gap: 20px;

 }

 .approach__item {
    display: flex;

 }

 .orangecheck {
    width: 14px;
    height: 14px;
 }

 .rainbow {
    width: 70px;
    height: 30px;
    position: absolute;
    right: 720px;
 }

 .car {
    width: 290px;
    height: 40px;
 }

 .splash {
    width: 100px;
    position: absolute;
    right: 145px;
    top: -0px;
 }

 .whychooseus__container {
    position: relative;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #F3F5F5;
    height: 400px;
 }

 .whychooseus__header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 0;
 }

 .whychoseus {
    margin-top: 40px;
 }

 .whychoosebird {
    position: absolute;
    top: -40px;
    left: 10px;
 }

 .chooseus__book {
    width: 12px;
    height: 20px;
 }

 .girlwritting {
    width: 390px;
    height: 390px;
    border-radius: 10px;
    position: absolute;
    right: 190px;
    top: -0px;
 }

 .girlwrittingcontainer {

    margin-left: 300px;
 }


 .testimonal__container {
    display: flex;
    justify-content: center;
    gap: 40px;
 }


 .testimonal__text {
    padding-left: 15px;
    padding-right: 15px;
    width: 270px;
    border-radius: 10px;
    border: 1px dashed #FF9500;
 }

 .testimonal__head {
    text-align: center;
    margin-top: 40px;

 }

 .TESTIMONAL__HEADERTEXT {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 0;
 }

 .stars {
    padding-top: 20px;
    color: #FF9500;
    font-size: 14px;
    font-weight: 900;

    letter-spacing: 2px;
 }

 .birdicon2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -99px;
    left: 135px;
 }



 .ceo {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0px;
    margin-bottom: 10px;
 }

 .ceo__text {
    color: #00BEAE;

 }


 .teacher__orangebook {
    display: flex;
    align-items: center;
    gap: 2px;
 }

 .teacher__container {
    padding-top: 30px;
    padding-bottom: 40px;
 }

 .seconndorangebook {
    width: 15px;
    height: 15px;
 }


 .teachercurry {

    width: 200px;
    height: 200px;
    line-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;

 }

 .teacher__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 0;


 }

 .instructorleft {
    width: 35px;
    height: 35px;

 }

 .insructorright {
    width: 35px;
    height: 35px;
 }

 .instructor__holder {
    display: flex;
    gap: 10px;
    position: relative;
    margin-left: 120px;
 }

 .teacherwill {
    width: 200px;
    height: 200px;
    line-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;
 }

 .teacherjim {
    width: 200px;
    height: 200px;
    line-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;
 }

 .teachermic {
    width: 200px;
    height: 200px;
    line-height: 0;
    padding-bottom: 0;
    margin-bottom: 0;
 }

 .katy {
    color: #0E2A46;
 }


 .teacher__instructor {
    margin-top: 70px;
    padding-top: 60px;
    background-color: #FFF8F0;

 }

 .share_btn {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -15px;
    right: 13px;

 }

 .first__teacher {
    position: relative;
 }


 .teachercurry__container {

    background-color: #FFFFFF;
    height: 280px;
    padding-top: 5px;
    line-height: 0;
    border-radius: 5px;

 }

 .pic__text1 {

    padding-left: 15px;
 }

 .pic__text2 {
    padding-left: 15px;
    color: #FF9E0E;
 }

 .date__blog {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0px;

 }

 .blog__post {
    display: flex;
    justify-content: center;
    gap: 20px;


 }

 .girlwithpen {
    width: 250px;
    height: 170px;
    margin-bottom: 0px;
    margin-top: 0px;
 }


 .blogpost__btn {
    width: 110px;
    height: 40px;

    background-color: #FF9500;
 }

 .blogpost__item {
    display: flex;
    justify-content: space-around;
    gap: 90px;



 }

 .blogpost__header {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 0;
    color: #FF9500;
 }

 .blogpost__header .book {
    width: 11px;

 }

 .BLOGBIRD {
    width: 200px;
    height: 100px;
 }

 .halfcircle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 500px;
 }

 .whole {
    position: relative;

 }

 .kidinclass {
    width: 250px;
    height: 170px;
 }

 .kidwithgame {
    width: 250px;
    height: 170px;

 }

 .first__blog {
    display: block;
    background-color: #EDEDED;
    padding-left: 20px;
    width: 290px;
    border-radius: 5px;


 }